<div>
  </*% if menus.errors[:menu].any? %>
  </*% menu.errors.full_messages %>
  </*% end %>
  <%= form_tag @menu, remote: true do %>
    <input placeholder="新しいメニュー" type="string" name="menu" id="menu_name">

    <input type="submit" value="SENT">
  <% end %>


</div>

<div>
  <p>あなたのメニュー一覧</p>
  <ul class="all_menus">
    <%= render @menus %>

  </ul>
</div>