html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}



/*header{
  width: 100%;
  height: 40px;
  background-color: blue;
  color:white;
}

footer{
  width: 100%;
  height: 40px;
  background-color: blue;
  color:white;
}:*/

/*ここからハンバーガーメニュー含めたヘッダーの記述*/
#navToggle {
    display:none; /*通常時は非表示にしておきます*/
    position:absolute; /*bodyに対しての絶対位置指定です*/
    right:13px;
    top:13px;
    width:30px;
    height:25px;
    cursor:pointer}
#navToggle div {position:relative} /*spanの絶対位置指定の親にします*/
#navToggle span {
    display:block;
    position:absolute; /*#navToggle div に対して*/
    width:100%;
    border-bottom:solid 3px #999;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out}
#navToggle span:nth-child(1) {top:0}
#navToggle span:nth-child(2) {top:11px}
#navToggle span:nth-child(3) {top:22px}




/*header footer*/
footer {
    width:100%;
    z-index:2;
    position:fixed;
    background:rgba(255,255,255,.7)
    margin:0;
}
footer {
  height: 50px;
  background-color: gray;
}
/*header menu*/
header {
    display:table;
    font-size:0; /*ul,liが親のfont-sizeを継承して隙間が空くのをリセット*/
    line-height:0;
    height: 150px;
    width: 100%;
}
header h1, nav {
    display:table-cell}
nav {
    text-align:right;
    vertical-align:middle;}
header h1 a img {
    height:40px;
    margin:10px}
header ul {
    font-size:13px;
    line-height:1;
    margin:0 10px 10px 0}
header ul li {
    margin-left:3px;
    display:inline-block;
    text-align: right;
}
header ul li::after {
  content:' |';
  color: white;
}
header ul li:last-child::after {
  content:'';
}
header ul li a {
  color:white;
  font-size:20px;
  text-decoration: none;
}

#big_head{
  background-color: #777777;
  display: table;
  width: 100%;
  height: 50px;
}




#header_left_out{
  display: table-cell;
  top:20px;
  left:50px;
  position: absolute;
}

#header_left_out a{
  font-size: 20px;
  text-decoration: none;
  color: white;
}
/*ヘッダーの記述ここまで*/

*{
  font-size:30px;
  line-height: 120%;
}
#common_wrap{

  padding-top: 70px;
  width: 320px%;
  height: 2000px;
  background-color: red;
}

/*新規登録画面のフォーム*/

.sign_up_h2{
  font-size: 40px;
  width: 1000px;
  margin: 0 auto;
}

.sign_up_field{
  width: 40%;
  text-align: center;
  margin: 20px auto;
}

@media screen and (max-width: 640px) {

/*header menu*/
/*nav要素は絶対位置指定にして、ビューの外側に置いて見えなくします。
nav の中の ul li は横並びを解除して縦組みにレイアウトし直します。*/
header nav {
    position: absolute; /*bodyに対しての絶対位置*/
    right:0;
    top: -300px; /*通常時はビュー外*/
    background:rgba(255,255,255,.7);
    width:50%;
    padding:0 10px;
    -webkit-transition:.5s ease-in-out; /*transitionで動きを*/
    -moz-transition:.5s ease-in-out;
    transition:.5s ease-in-out;
    text-align:left}
header ul {margin:0}
header ul li {
    display:block;
    margin:0;
    border-bottom:dotted 1px #fff;
    line-height:3}
header ul li a {display:block}
header ul li::after {content:''}
header ul li:last-child {border-bottom:none}

/* Toggle(Button) */
/*display:noneだったボタンを display:blockにして表示します*/
#navToggle {display:block}

/* Click Toggle(Button) */
/*ここから jQueryで header要素に付けた「.openNav」を利用します*/
/*.openNavが付いた要素内のボタン（#navToggle）内のspanへの指定*/
/*最初のspanをマイナス45度に*/
.openNav #navToggle span:nth-child(1) {
    top: 11px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    transform:rotate(-45deg)}
/*2番目と3番目のspanを45度に*/
.openNav #navToggle span:nth-child(2),
.openNav #navToggle span:nth-child(3) {
    top: 11px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg)}

/*header menu*/
/*.openNavが付いた要素の中のnavを 縦方向に351px移動（=表示される）*/
.openNav nav {
    -moz-transform: translateY(351px);
    -webkit-transform: translateY(351px);
    transform: translateY(351px)}
}

/*320px以下のデバイスに適用するCSS*/
/*@media screen and (max-width: 320px) {
    body {
        background-color: #68B876;
    }
}
*/
/*mediaqueryここまで*/
