

.complete_tweet{
  color: white;
  width: 640px;
  margin: 0 auto;
}

.complete_tweet a{
  text-decoration: none;
  font-size: 20px;
}

#tweet_bg_wrap{

}
.tweet_wrap{
  width: 640px;
  color: white;
  font-size: 20px;
  margin: 0 auto;
  background-color: rgba(1,1,1,0.5);
  padding-top: 50px;
  padding: 20px;
}

.tweet_wrap a{
  text-decoration: none;
  color:#bababa;
  font-size: 15px;
}
.line{
  width: 100%;
  border-bottom: 2px white solid;
  margin-bottom: 20px
}
.tweet_wrap span{
  font-size: 15px;
  color: #bababa;
}
.tweet_wrap h2{
  display: block;
  margin: 20px auto;
  font-size: 25px;
  font-family: 'New Gulim', 'Dotum',sans-serif;
  border-left: solid #bababa 10px;
  border-bottom: solid #bababa 1px;
}
.pagination{
  display: table;
  text-align: center;
  margin: 0 auto;
  border-radius: 3px;
  border: solid #bababa 2px;
}
.pagination span{
  background: white;
  border-left: #bababa solid 2px;
  border-right: #bababa solid 2px;
  display: table-cell;
  padding: 5px;
  width: 40px;
}

.pagination span a{
  color:black;
}
.next{
  visibility: hidden;
  display: none  !important;
}
.last{
  visibility: hidden;
  display: none !important;
}
.first{
  display: none !important;
}
.prev{
  display: none !important;
}
.tweet_bg{
  background-image: url(images/wood_bg.jpg);
  background-repeat: repeat;
  background-size: 300px;
  height: 100%;
}
@media screen and (max-width: 640px) {
.tweet_wrap{
  font-size: 15px;
  width: 100%;
}
.tweet_wrap h2{
  font-size: 17px;
}


}

