.main_visual{
  width: 100%;
  background-image: url("images/mainvisual.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-attachment: fixed;

}

.layer{
  background-color:rgba(255,255,255,0.2);
  height: 500px;
}

#main_title{
  position: absolute;
  top: 40%;
  color: white;
  font-size: 60px;
}

.graph_area{
  background-color: gray;
  height: 1000px;
}
.prof_area{
  display: table;
  width: 100%;
}

#icon_image{
  padding: 20px;
  display: table-cell;
  width: 20%;
}

#icon_image img{
  width: 80%;
  margin: 20px;
}
#user_data{
  display: table-cell;
  width: 80%;
  font-size: 35px;
  vertical-align: middle;
  text-align: center;
}
#user_data a{
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

#user_data a:hover{
  -webkit-transform: scale(1,1.2);
  -moz-transform: scale(1,1.2);
  -o-transform: scale(1,1.2);
  -ms-transform: scale(1,1.2);
  transform: scale(1,1.2);
}
.table_row{
  display: table-row;
}
.prof_a a{
  text-decoration: none;
  font-size: 20px;
  color: gray;
}


/*ここからSP版のCSS*/
@media screen and (max-width: 640px) {

.main_visual{
  width: 100%;
  background-image: url("images/mainvisual_sp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;

}

#main_title{
  position: absolute;
  top: 40%;
  color: white;
  font-size: 30px;
}

  }
