.main_visual{
  width: 100%;
  background-image: url("images/mainvisual.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-attachment: fixed;

}

.layer{
  background-color:rgba(255,255,255,0.2);
  height: 500px;
}

#main_title{
  position: absolute;
  top: 40%;
  color: white;
  font-size: 60px;
}

.graph_area{
  background-color: gray;
  height: 1000px;
}
.prof_area{
  display: table;
  width: 100%;
}

#icon_image{
  padding: 20px;
  display: table-cell;
  width: 20%;
}

#icon_image img{
  width: 80%;
  margin: 20px;
}
#user_data{
  display: table-cell;
  width: 80%;
  font-size: 35px;
  vertical-align: middle;
  text-align: center;
}
#user_data a{
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
  background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, rgba(255,255,255,1) 50%);
}

#user_data a:hover{
  background-position: -100% 0;
  color: #fff;
}
.table_row{
  display: table-row;
}
.prof_a a{
  text-decoration: none;
  font-size: 20px;
  color: gray;
}


/*ここからSP版のCSS*/
@media screen and (max-width: 640px) {

.main_visual{
  width: 100%;
  background-image: url("images/mainvisual_sp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;

}

#main_title{
  position: absolute;
  top: 40%;
  color: white;
  font-size: 30px;
}

  }
