.main_visual{
  width: 100%;
  background-image: url("images/mainvisual.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;

}

.layer{
  background-color:gba(255,255,255,0.8);
  height: 500px;
}
