<div>
  <%= form_tag('/tweet', method: :post) do %>
    <input placeholder="日付" type="date" name="work_date">
    <input placeholder="メニュー" type="string" name="menu_name">
    <input placeholder="回数(半角入力)" type="integer" name="count">回
    <textarea cols="20" name="remarks" placeholder="備考" rows="5"></textarea>
    <input type="submit" value="SENT">
  <% end %>


</div>