<div id="wrapper">
  <div id="content">
    <!--もしアイコンがあれば表示、なければデフォルト
    <if user.icon_image>-->
    <p><%= @user.nick_name %></p>
  </div>
</div>


<style>
#wrapper{
  width:100%;
}
#content{
  width:340px;
  margin:0 auto;
  border: solid 3px green;
  height: 1000px;
}

</style>