.all_menus{
  padding: 50px 0;
  color: white;
}

.all_menus a{
  font-size: 10px;
  text-decoration: none;
  color: #bababa;
}
.all_menus li{
  list-style: none;
  line-height: 250%;
}
#menu_bk{
  background-image: url(images/menu_back.jpg);
  height: inherit;
  background-size: cover;
}
.menu_span{
  color:white;
  position: relative;
  display: inline-block;
  transition: .3s;
}
.menu_span::after{

  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 0;
  height: 1px;
  background-color: #2ecc71;
  transition: .3s;
}

.menu_span:hover::after {
  width: 100%;
}