.main_visual{
  width: 100%;
  background-image: url("images/mainvisual.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-attachment: fixed;

}

.layer{
  background-color:rgba(255,255,255,0.2);
  height: 500px;
}

#main_title{
  position: absolute;
  top: 40%;
  color: white;
  font-size: 60px;
  margin-left: 20px;
}

.graph_bg{
  width: 100%;
  background-image: url(images/graph_bg.png);

}
.graph_area{
  background-color: gray;
  width: 800px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.2);
  padding: 20px;
}
#graph_inner{
  width: 70%;
  margin: 0 auto;
}

#graph_inner p{
  color: white;
  background-color: #bababa;
  margin-top: 30px;
  padding: 10px;
}

.graph_area text{
  font-size: 10px;
}
.prof_area{
  display: table;
  width: 100%;
}

.user_a{
  padding: 20px;
}

#icon_image{
  padding: 20px;
  display: table-cell;
  width: 20%;
}

#icon_image img{
  width: 80%;
  margin: 20px;
}
#user_data_a{
  display: table-cell;
  width: 80%;
  font-size: 35px;
  vertical-align: middle;
  text-align: center;
  padding: 20px;
}
#user_data_a a{
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
}

/*#user_data a:hover{
  background-position: -100% 0;
  color: #fff;
  padding: 10px;
}*/
.table_row{
  display: table-row;
}
.prof_a a{
  text-decoration: none;
  font-size: 20px;
  color: gray;
}
.big_bg{
  background-image: url(images/plus_menu_2.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  width: 100%;
}

.common_wrap{
  width: 1000px;
  height: 400px;
  background-color: rgba(255,255,255,0.8);
  margin: 0 auto;
  padding: 20px;
}


#user_data_a a{
  color:#111;
  position: relative;
  display: inline-block;
  transition: .3s;
  line-height: 60px;
}
#user_data_a a::before,
#user_data_a a::after{
  position: absolute;
  content: '';
  width: 0;
  height: 1px;
  background-color: #2ecc71;
  transition: .3s;
}

#user_data_a a::before {
  top: 0;
  left: 0;
}
#user_data_a a::after {
  bottom: 0;
  right: 0;
}

#user_data_a a:hover{
  color: #2ecc71;
}
#user_data_a a:hover::before,
#user_data_a a:hover::after {
  width: 100%;
}

/*ここからSP版のCSS*/
@media screen and (max-width: 640px) {


.big_bg {
    background-image: url(images/plus_menu_sp.jpg);
  }
.common_wrap{
  width: 100% !important;
  height: 600px;
}
.table_row {
    display: table-row;
    text-align: center;
}
#icon_image{
  display: block;
  width: 80%;
  margin: 0 auto;
}
#icon_image img{
  width: 50%;
  margin: 0 auto;
}
#user_data_a{
  display: block;
  width: 100%;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 20px;
}
.main_visual{
  width: 100%;
  background-image: url(images/mainvisual_sp.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 270px;

}

#main_title{
  position: absolute;
  top: 25%;
  color: white;
  font-size: 30px;
}

.graph_area{
  width: 320px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.2);
  padding: 5px;
}
#graph_inner{
  width: 80%;
  margin: 0 auto;
}


  }