.main_visual{
  width: 100%;
  background-image: url("images/mainvisual.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-attachment: fixed;

}

.layer{
  background-color:rgba(255,255,255,0.2);
  height: 500px;
}

#main_title{
  position: absolute;
  top: 40%;
  color: white;
  font-size: 60px;
  margin-left: 20px;
}

.graph_bg{
  width: 100%;
  background-image: url(images/graph_bg.png);

}
.graph_area{
  background-color: gray;
  width: 800px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.2);
  padding: 20px;
}
#graph_inner{
  width: 70%;
  margin: 0 auto;
}

#graph_inner p{
  color: white;
  background-color: #bababa;
  margin-top: 30px;
  padding: 10px;
}

.graph_area text{
  font-size: 10px;
}
.prof_area{
  display: table;
  width: 100%;
}

.user_a{
  padding: 20px;
}

#icon_image{
  padding: 20px;
  display: table-cell;
  width: 30%;
}

#icon_image img{
  width: 70%;
  margin: 20px;
}
#user_data_a{
  display: table-cell;
  width: 80%;
  font-size: 35px;
  vertical-align: middle;
  text-align: center;
  padding: 20px;
}
#user_data_a a{
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
}

/*#user_data a:hover{
  background-position: -100% 0;
  color: #fff;
  padding: 10px;
}*/
.table_row{
  display: table-row;
}
.prof_a a{
  text-decoration: none;
  font-size: 20px;
  color: gray;
  margin-left: 25px;
}
.big_bg{
  background-image: url(images/plus_menu_2.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  width: 100%;
}

.common_wrap{
  width: 1000px;
  height: 400px;
  background-color: rgba(255,255,255,0.8);
  margin: 0 auto;
  padding: 20px;
}


#user_data_a a{
  transition: .3s;
}



#user_data_a a:hover{
  opacity: 0.8;
}

#message{
  font-size: 25px;
  margin: 20px 0;
  display: table-cell;
}
#message p{
  text-align: center;
  border: 2px #909090;
  border-style: solid;
  padding: 5px;
}
#message p span{
  color: red;
  font-size: 30px;
}
#no_graph_m{
  text-align: center;
}

#link_area{
  display: table;
  width: 80%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 10px 10px;  /* 左右 上下で記述 */
}
.link_button{
  bbackground: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #c9c9c9), color-stop(1.00, #c9c9c9), color-stop(0.00, #bdbdbd));
background: -webkit-linear-gradient(top, #bdbdbd 0%, #c9c9c9 100%, #c9c9c9 100%);
background: -moz-linear-gradient(top, #bdbdbd 0%, #c9c9c9 100%, #c9c9c9 100%);
background: -o-linear-gradient(top, #bdbdbd 0%, #c9c9c9 100%, #c9c9c9 100%);
background: -ms-linear-gradient(top, #bdbdbd 0%, #c9c9c9 100%, #c9c9c9 100%);
background: linear-gradient(to bottom, #bdbdbd 0%, #c9c9c9 100%, #c9c9c9 100%);

  color: white;
  border-radius: 6px;
  border: solid #909090 2px;
}
#link_new{
  width: 420px;
  padding: 10px;
  display: table-cell;
}

.link_under{
  width: 200px;
  padding: 10px;
  margin: 10px;
  background-color: gray;
  display: table-cell;
}
/*ここからSP版のCSS*/
@media screen and (max-width: 640px) {


.big_bg {
    background-image: url(images/plus_menu_sp.jpg);
  }
.common_wrap{
  width: 100% !important;
  height: 600px;
}
.table_row {
    display: table-row;
    text-align: center;
}
#icon_image{
  display: block;
  width: 80%;
  margin: 0 auto;
}
#icon_image img{
  width: 50%;
  margin: 0 auto;
}
#user_data_a{
  display: block;
  width: 100%;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 20px;
}

.main_visual{
  width: 100%;
  background-image: url(images/mainvisual_sp.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 270px;

}

#main_title{
  position: absolute;
  top: 25%;
  color: white;
  font-size: 30px;
}

.graph_area{
  width: 320px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.2);
  padding: 5px;
}
#graph_inner{
  width: 80%;
  margin: 0 auto;
}
.prof_a a{
  margin-left: 0;
}
#message{
  font-size: 20px;
  margin: 20px 0;
  display: block;
}
#message p span{
  color: red;
  font-size: 25px;
}
#link_area{
  width: 100%;
}
.link_button{
  width: 300px;
  }
}
